defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend myfrontend
  bind localhost:8080
  default_backend webservers

backend webservers
  mode http
  balance roundrobin
  cookie SERVER insert indirect nocache
  server web1 localhost:8090 check cookie web1
  server web2 localhost:8091 check cookie web2
